<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payco_payments>
                <showCpf>1</showCpf>
            </payco_payments>
            <payco_payments_pix>
                <active>1</active>
                <model>Payco\Payments\Model\Method\Pix</model>
                <payment_action>authorize</payment_action>
                <title>Pix</title>
                <expiration>30</expiration>
                <can_use_checkout>1</can_use_checkout>
            </payco_payments_pix>
            <payco_payments_credit_card>
                <active>1</active>
                <model>Payco\Payments\Model\Method\CreditCard</model>
                <payment_action>order</payment_action>
                <title>Credit Card</title>
                <type_payment_action>ac</type_payment_action>
                <apply_interest>0</apply_interest>
                <max_installments>12</max_installments>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>VI,MC,ELO,HC</cctypes>
            </payco_payments_credit_card>
        </payment>
    </default>
</config>
