<!-- ko if: showCpf() -->
<div class="field number required">
    <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
        <span><!-- ko i18n: 'CPF '--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text"
               name="cpf"
               class="input-text"
               data-bind="attr: {
                        id: getCode() + '_cpf',
                        title: $t('CPF'),
                        'data-container': getCode() + '-cpf',
                        'data-validate': JSON.stringify({
                            'required-number':true
                        })},
              value: documentCpf" />
    </div>
</div>
<!-- /ko -->
